# dependencies
/node_modules

# next.js
/.next/

# production
/build

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/prisma/migrations/dev/
/prisma/migrations/*.sql

*.db
*.db-journal
*.sqlite
*.sqlite-journal